# Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.userprefs

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
artifacts/

# Visual Studio cache
.vscode/

# NuGet
*.nupkg
*.snupkg
packages/

# Logs
*.log

# Test results
TestResults/
[Tt]est[Rr]esult*/
*.trx

# ASP.NET Core
wwwroot/lib/
wwwroot/node_modules/

# OS files
.DS_Store
Thumbs.db

# Rider
.idea/

# User-specific files
*.rsuser